<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="149px" alt="Syneco Logo" src="../assets/images/syneco_logo.svg" />
  <div class="spacer"></div>
  <a aria-label="Calculadora" href="#" title="Calculadora" (click)="pressCalc()"><img id="calculator-icon" width="30px" alt="Configuracoes" src="../assets/images/calculadora-30.png"/></a>
  <a aria-label="Configurações" href="#" title="Configurações"><img id="cog-icon" width="30px" alt="Configuracoes" src="../assets/icons/ic_settings_applications_24px.svg"/></a>
</div>

<!-- Breadcrumb -->
<div class="breadcrumb" role="banner">
<ng-calculator></ng-calculator>
</div>